body{
    margin: 0;
    pedding: 0;

}
.tittle{
    color: blueviolet;
    text-align: center;
}
.parent{
    display: flex;
    width: 80%;
    margin: auto;
}
.photo{
    width: 200px;
}
.details-btn{
    padding: 10px 30px;
    border-radius: 5px;
    background-image: radial-gradient(45deg,blue,red,blue);
    background-color: yellowgreen;
}
.details-btn:hover{
    background-color: crimson;
    color: white;
    cursor: pointer;
}
.second-section{
    text-align: center;
    border-top: 50px;
    margin: 0%;
}
.chattogram{
    width: 250px;
    border: 1px solid grey;
    box-shadow: 4px 4px 12px grey;
    border-radius: 5px;
}
.div-img{
    width: 100%;

}
.all-divisions{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.buttom-section{
    padding: 15px;
}
.blog{
    background-color: hotpink;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: .7s;
}
.blog:hover{
 background-color: blueviolet;   
 color: white;
}
.vlog{
    background-color: darkblue;
    padding: 10px 20px;
    border: none;
    border-radius:5px ;
}
.vlog:hover{
    background-color: darkgoldenrod;
    color: white;
}
.chop{
    background-color: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.chop:hover{
    background-color: tan;
    color: white;
}